
.grid {
    display: grid;
}
body {
    background-color: #7c7c80;
    font-family: "Neucha", cursive;
}
header {
    height: auto;
}
.headerMenu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #7c7c80;
    text-align: center;
    margin-top: 2rem;
}
.menu li {
    display: inline;
    font-size: 3rem;
    padding: 2rem;
}
.menu a {
    text-decoration-line: none;
    color: black;
}
.menu a:hover {
    color: #fff;
}
.wrapperPages {
    margin-top: 8rem;
}
#calendar {
    align-content: center;

}
#myCalendar {
    margin: auto;
    width: 90vw;
    height: 60vh;
    border: 1px solid black;
    border-spacing: 1px 1px;
    background-color: rgb(173, 255, 47);
    font-size: 2rem;
}
th {
    height: 1.5rem;
}
th, td {
    border: 1px solid black;
    border-spacing: 1px 1px;
    text-orientation: sideways-right;
}
.day {
    padding-top: 10px;
    padding-left: 10px;
}
.day:hover {
    background-color: rgb(187, 252, 135);
}
#create {
    font-size: 1.5rem;
}
#create select {
    height: 2rem;
}
#create fieldset {
    border: black solid 2px;
    padding: 5px;
}
.calendarConfig {
    height: 30vh;
    width: 70vw;
}
.previewCalendar {
    float: right;
    width: 50%;
    height: 50%;
}
#about {
    text-align: center;
}
#about a {
    font-size: 4rem;
    text-decoration-line: none;
    color: black;
}
#about a:hover {
    color: #fff;
}
footer {
    position: fixed; /* Фиксированное положение */
    left: 0; 
    bottom: 0;
    height: auto;
    width: 100%;
}
.footerCaption {
    position: relative;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
#resetButton {
    background-color: #16d428;
    color: #fff;
    text-align: center;
    font-size: 13px;
    height: 56px;
    width: 234px;
    border-radius: 28px;
    border-style: none;
    margin: 0.75em;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 4.5em;
    font-family: 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
}
.hidden {
    display: none;
}

/*-------Media Queries----------*/

@media screen and (max-width:800px) {
    .headerMenu {
        min-height: auto;
    }
    .menu li {
        font-size: 2rem;
        padding: 1rem;
    }
    .footerCaption {
        font-size: 1rem;
    }
    #about {
        text-align: center;
    }
    #about a {
        font-size: 4rem;
        text-decoration-line: none;
    }
    #about a:hover {
        color: azure;
    }
}    