

body {
    background-color: #7c7c80;
    font-family: "Neucha", cursive;
    margin: 0;
    padding: 0;
    -webkit-padding: 0;
    -webkit-margin: 0;
}
.headerMenu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    min-height: 3rem;
    width: 100%;
    background-color: #7c7c80;
    text-align: center;
}
.menu li {
    display: inline;
    font-size: 3rem;
    padding: 2rem;
}
.menu a {
    text-decoration-line: none;
    text-decoration-color: #fff;
}
.wrapperPages {
    margin-top: 6rem;
    top: 6rem;
}
footer {
    position: fixed; /* Фиксированное положение */
    left: 0; 
    bottom: 0;
    height: auto;
    width: 100%;
}
.footerCaption {
    position: relative;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
#myCalendar, tbody {
    width: 100%;
    min-height: 70%;
    border: 1px solid black;
    border-spacing: 1px 1px;
    background-color: rgb(173, 255, 47);
}
#resetButton {
    background-color: #16d428;
    color: #fff;
    text-align: center;
    font-size: 13px;
    height: 56px;
    width: 234px;
    border-radius: 28px;
    border-style: none;
    margin: 0.75em;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 4.5em;
    font-family: 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
}
.hidden {
    display: none;
}

/*-------Media Queries----------*/

@media screen and (max-width:800px) {
    .headerMenu {
        min-height: auto;
    }
    .menu li {
        font-size: 2rem;
        padding: 1rem;
    }
    .footerCaption {
        font-size: 1rem;
    }
}    